body{
    background-color: black;
    font-family: roboto;
}
.navbar{

    display: flex;
    align-items: flex-start;
    margin-left: 5%;
}
.navbar-ref{

    width:40%;
    margin-left: 53%;
    margin-top: 4%;
    margin-right: 0%;
   
}
.navbar-img{
    width: 10%;
    border-radius: 5px;
    margin-top: 3%;
    
}
.ref{
    color: #eaa82c;
    margin-left: 5%;
    text-decoration: none;
}


.welcome{
    display: flex;
    margin-top: 5%;
    border-radius: 12px;
    width: 40%;
    margin-left: 7%;
    flex-direction: column;
}

.welcome-title{
    font-size: 350%;
    color:rgb(234, 168, 44);
    
}

.background-image{
    display: flex;
    flex-wrap: wrap;
    margin-left: 39%;
    margin-top: -23%;
    width: 60%;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
}
.ref-whats{
    display: flex;
    flex-direction: row;
}
.whatsapp-logo{
    
    width: 5%;
    
}
.categories-title{
    color:white;
    position:absolute;
    
    
}

.categories{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    justify-content: space-around;
    width: 30%;
    padding: -50%;
    margin-top: 10%;
    margin-right: 5%;
    
}
.welcome-text{
    font-size: 130%;
    text-align: justify;
    color:white;
    margin-right:18%;
    
}
.welcome-title-1{
    font-size: 35px;
    text-align: justify;
    color:white;
    margin-right:18%;
}
