body{
    background-color: black;
    font-family: roboto;
}
.navbar{

    display: flex;
    align-items: flex-start;
    
}
.navbar-ref{

    width:40%;
    margin-left: 46%;
    margin-top: 3%;
    margin-right: 0%;
   
}
.ref{
    color: rgb(91, 233, 91);
    margin-left: 5%;
    text-decoration: none;
}

.categories{

}
.categories-text{
    color:white;
    margin-top: 5%;
}
.categories-icon{
    border-radius: 5px;
    width: 40%;

}
.welcome{
    display: flex;
    margin-top: 5%;
    border-radius: 12px;
    width: 40%;
    margin-left: 7%;
    flex-direction: column;
}

.welcome-title{
    font-size: 350%;
    color:rgb(234, 168, 44);
    
}

.categories-section{
    display: flex;
    flex-wrap: wrap;
    margin-left: 45%;
    margin-top: -15%;
    z-index: -1;

}
.categories-title{
    color:white;
    position:absolute;
    margin-left: 16%;
    
    
}

.categories{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 30%;
    padding: -50%;
    margin-top: 10%;
    justify-content: space-between;
    align-items: center;
}
.welcome-text{
    font-size: 130%;
    text-align: justify;
    color:white;
    margin-right:18%;
    
}
