<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

        <!--MAIN-->
        <div class="container mt-5" layout:fragment="corpo">
            <div class="text-center">
                <h1 class="display-5 mb-5"><strong>Gerenciar Categorias</strong></h1>
            </div>
            <div class="main row justify-content-center">

                <div th:replace="fragments/alert  :: alerta-sucesso"></div>

                <form th:action="${categorydto.id == null} ? @{/admin/category/salvar} : @{/admin/category/editar}" 
                    th:object="${categorydto}" id="product-form" class="row justify-content-center mb-4" 
                    autocomplete="off" method="POST" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col mb-3">
                            <label for="title">Nome</label>
                            <input class="form-control" th:classappend="${title != null} ? is-invalid" th:field="*{title}" id="title" type="text"
                                placeholder="Insira o nome da categoria" required>
                            <div th:if="${title != null}" class="text-danger">
                                <small th:text="${title}">A categoria precisa de um Nome.</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="image">Imagem</label>
                            <input class="form-control" th:classappend="${image != null} ? is-invalid" th:field="*{image}" id="image"
                                name="image" type="file" required>
                            <div th:if="${image != null}" class="text-danger">
                                <small th:text="${image}">O categoria precisa de uma imagem.</small>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" th:field="*{id}">
                    <div class="row">
                        <div class="col-10">
                            <input class="btn btn-success add-btn" type="submit" value="Salvar">
                        </div>
                    </div>
                </form>

                <div class="col mt-5">
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th style="display:none;">id</th>
                                <th class="text-center">Nome</th>
                                <th style="display:none;">imagename</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody id="category-list">
                            <tr th:each="c : ${categories}">
                                <td style="display:none;" th:text="${c.id}">0</td>
                                <td th:text="${c.title}" class="text-center">Copo Metalica</td>
                                <td style="display:none;" th:text="${c.imagename}">xxx</td>
                                <td class="text-center">
                                    <a th:href="@{/admin/category/editar/} + ${c.id}" class="btn btn-warning btn-sm edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="#" class="btn btn-danger btn-sm delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-sm image">
                                        <i class="fa-solid fa-image"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id="imageModalContent" class="modal-body justify-content-center image-modal">
                            <img src="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript" th:src="@{/js/category.js}" th:fragment="js"></script>

    </body>
</html>