.text{
    color: #eaa82c;
    line-height: 1.2;
    margin-bottom: -1%;
}

.image-css{
    opacity: 0.1;
}

.container{
    margin-bottom: -2%;
}
.qr-code{
    margin-top: -4%;
}
.caption{
    color:white;
    margin-top: -4%;
    
}
.col-sm:hover{
    transform: scale(1.02);
}

.col{
    width: 100%;
}
.navbar-toggler{
    height: 30px;
}
.navbar-toggler-icon{
    height: 20%;
}
.text-description{
    color: white;   
}
.text-categories{
   color:#eaa82c;
   
}
hr{
    color:white;
}
.container-lg{
    margin: 0% 0% 0% 0%;
}

.image-different{
    
    height: 93%;
}

.edit-class{
   margin-bottom: 10%;
   
}

.container-categories{
    margin-top: 5%;
    margin-bottom: 2%;
}
.product-caption{
    color: white;
    line-height: 1.2;
}

.product-image-change{
    height: 100%;
}

