<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toca da Raposa</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="/css/style-landing.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <nav class="navbar border-bottom navbar-expand-lg bg-dark py-0">
        <div class="container-fluid">
          <a class="fox-icon navbar-brand mx-0" href="#"><img width="45" height="30" src="/images/modelo-icone.png"></a>
          <button class="navbar-toggler bg-light my-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav">
              <li class="nav-item">
               
              </li>
              <li class="nav-item">
                <a class="nav-link mx-0 my-1" href="#"><img width="30" height="30" src="/images/instagram-logo.png"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link my-1 text-light fw-bold" href="#">Sobre nós</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link my-1 text-success fw-bold" href="https://wa.me/83981495845?text=Quero%20comprar%20sua%20m%C3%A3e">Compre pelo whatsapp <img width="30" height="30" src="/images/zap-logo.png"></a> 
              </li>
              
            </ul>
           
          </div>
        </div>
      </nav>
      
      <div class="container container-categories">
        <div class="container-lg">
            <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-1">
              <div class="container d-flex flex-row">
                <div class="col">
                  <p class="fs-1 d-flex justify-content-center text">Bem-vindo à Toca da Raposa,</p>
                  <p class="fs-2 d-flex justify-content-center text-description">aqui você encontra os melhores produtos!</p>
    
                </div>
                <div class="d-flex flex-column qr-code">
                  <img width="30" height="30" src="/images/zap-logo.png">
                  <img width="90" height="90" class="border border-2 border-success" src="/images/qr-code.png">
                </div>
                
              </div>
           
            <div class="col my-3">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/images/slide-1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/slide-2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/slide-3.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col">
              <hr>
              <p class="fs-1 d-flex justify-content-center text-categories my-0">Escolha uma categoria</p>
              <hr>
              
          </div>
            </div>
        </div>
      </div>

      <div class="container-fluid d-flex justify-content-center">
        <div class="row my-0">
          <div class="col-sm my-2">
            <div class="caption text-center fs-3">Moda Praia</div>
            <input onclick="displayCat(this)" type="image" src="/images/slide-1 (2).jpg" name="moda-praia" class="img-fluid" id="moda-praia"/>
          </div>
          <div class="col-sm my-2">
            <div class="caption text-center fs-3">Moda Íntima</div>
            <input onclick="displayCat(this)" type="image" src="/images/slide-2 (2).jpg" name="moda-intima" class="img-fluid" id="moda-intima"/>
          </div>
          <div class="col-sm my-2">
            <div class="caption text-center fs-3">Acessórios</div>
            <input onclick="displayCat(this)" type="image" src="/images/slide-3 (2).jpg" name="acessorios" class="img-fluid image-different" id="acessorios"/>
          </div>
          <div class="col-sm my-2">
            <div class="caption text-center fs-3">Outros</div>
            <input onclick="displayCat(this)" type="image" src="/images/slide-4.jpg" name="outros" class="img-fluid" id="outros"/>
          </div>
        </div>
       
      </div>
      <hr>
      <p id="container-replaced" class="fs-1 d-flex justify-content-center text-categories my-0"></p>
      <hr>
      <div class="container-fluid my-5">
        <div id="category-id" class="row row-cols-2 row-cols-sm-6">
          
          <script>
            async function getRegister(category){

                //Filtrando categorias pela API
                let url = '/api/products/bycategory/' + category;
                
                try {
                    let res = await fetch(url);
                    return await res.json();
                } catch (error) {
                    console.log(error);
                }
              }

              async function getCat(category){
                  return await new Promise((resolve)=>{
                    resolve(getRegister(category));
                  });
                  
              }

             
            async function displayCat(domElement){
              let array = [];
              let replaceContainer = document.getElementById("container-replaced");

              let catName = domElement.name;
              
              if (catName == "moda-praia"){
                array = await getCat("Moda Praia");
                console.log(array);
                replaceContainer.innerHTML = `<p id="container-replaced"
                class="fs-1 d-flex justify-content-center text-categories my-0">
                Moda Praia</p>`;
              }else if(catName == "moda-intima"){
                array = await getCat("Moda Íntima");
                replaceContainer.innerHTML = `<p id="container-replaced"
                class="fs-1 d-flex justify-content-center text-categories my-0">
                Moda Íntima</p>`;

              }else if(catName == "acessorios"){
                array = await getCat("Acessórios");
                replaceContainer.innerHTML = `<p id="container-replaced"
                class="fs-1 d-flex justify-content-center text-categories my-0">Acessórios</p>`;
              }else{
                array = await getCat("Outros");
                replaceContainer.innerHTML = `<p id="container-replaced"
                class="fs-1 d-flex justify-content-center text-categories my-0">
                Outros produtos</p>`;
              }

              let htmlChange = "";

              let element = document.getElementById("category-id");
              array.forEach(element => {
                //Formantando moeda para o estilo BRL
                var productPrice = element.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});

                htmlChange += `<div class="col-sm">

                <div class="container-fluid edit-class">
                  <a href="https://wa.me/83981495845?text=Quero%20comprar%20sua%20m%C3%A3e"><img class="img-fluid border product-image-change" width="140" height="140" src="/api/products/image/${element.imagename}"></a>
                  <div class="product-caption fs-5 fw-bold">${element.name}</div>
                  <div class="product-caption fs-6">${element.activeMessage}</div>
                  <div class="product-caption">${productPrice}</div>
                </div>
              </div>`;

                  
              });
              element.innerHTML = htmlChange;
              
              window.scrollTo(0,document.body.scrollHeight);

            }
            
          </script>
        </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>